@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('download.webp');
    color: white;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 40px;
    font-size: 100px;
    letter-spacing: 2px;
}

.timer {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.box {
    background: black;
    padding: 25px 35px;
    border-radius: 10px;
    box-shadow: 0 0 10px #00e1c7;
}

.box span {
    font-size: 50px;
    font-weight: bold;
}

.box p {
    margin-top: 5px;
    font-size: 16px;
    color: cornsilk;
}

