* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .calculator {
    width: 320px;
  }
  
  .header {
    color: white;
    margin-bottom: 10px;
  }
  
  .display {
    background: #181f32;
    color: white;
    font-size: 32px;
    text-align: right;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .buttons {
    background: #252d44;
    padding: 15px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  button:not(.reset):not(.equal):not(.del) {
    background: #eae3dc;
  }
  
  .❤️ {
    background: #647299;
    color: white;
  }
  
  .reset {
    grid-column: span 2;
    background: #647299;
    color: white;
  }
  
  .equal {
    grid-column: span 2;
    background: #d13f30;
    color: white;
  }
  