body {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    }
    
    .parent {
    
    width: 550px;
    height: 500px;
    border: 1px solid;
    
    }
    
    img {
    
    width: 130%;
    height:100% ;
    }
    
    
    .price {
    
    display: flex;
    flex-direction: row;
    gap: 25;
    
    }