* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(360deg, #003366, #ff4b2b);
}

.div1 {
    background-color:skyblue;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 320px;
}

.div1 h2 {
    margin-bottom: 20px;
    color: #003366;
}

.div2 {
    width: 100%;
    margin-bottom: 15px;
}

.div3 {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid white;
}

.div4 {
    width: 100%;
    padding: 10px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

