.body {
    color: brown;
    font-size: 200px;
    font-family: cursive;
    font-style: italic;
    font-weight: 100;
}

.body1 {
    color: aqua;
    font-size: 100px;
    font-family: cursive;
    font-style: normal;
    font-weight: normal;
}


.body2 {
    color: chartreuse;
    font-size: 250px;
    font-family: cursive;
    font-style: oblique;
    font-weight: 400;
}