div {
    width: 200px;
    height: 150px;
    background-color: brown;
    border:1px solid black;
    margin: 30px;

font-size: 2em;
color: aliceblue;
font-family: cursive;
text-align: center;

display: block;
}


div {
    width: 200px;
    height: 150px;
    background-color: brown;
    border:1px solid black;
    margin: 30px;

font-size: 2em;
color: aliceblue;
font-family: cursive;
text-align: center;
display: block;
}

div {
    width: 200px;
    height: 150px;
    background-color: brown;
    border:1px solid black;
    margin: 30px;

font-size: 2em;
color: aliceblue;
font-family: cursive;
text-align: center;
display: block;
}

div {
    width: 200px;
    height: 150px;
    background-color: brown;
    border:1px solid black;
    margin: 30px;

font-size: 2em;
color: aliceblue;
font-family: cursive;
text-align: center;
display: inline;
}

div {
    width: 200px;
    height: 150px;
    background-color: brown;
    border:1px solid black;
    margin: 30px;

font-size: 2em;
color: aliceblue;
font-family: cursive;
text-align: center;
display:inline;
}

div {
    width: 200px;
    height: 150px;
    background-color: brown;
    border:1px solid black;
    margin: 30px;

font-size: 2em;
color: aliceblue;
font-family: cursive;
text-align: center;
display: inline;
}

div {
    width: 200px;
    height: 150px;
    background-color: brown;
    border:1px solid black;
    margin: 30px;

font-size: 2em;
color: aliceblue;
font-family: cursive;
text-align: center;
display:inline-block;
}

div {
    width: 200px;
    height: 150px;
    background-color: brown;
    border:1px solid black;
    margin: 30px;

font-size: 2em;
color: aliceblue;
font-family: cursive;
text-align: center;
display: inline-block;
}

div {
    width: 200px;
    height: 150px;
    background-color: brown;
    border:1px solid black;
    margin: 30px;

font-size: 2em;
color: aliceblue;
font-family: cursive;
text-align: center;
display:inline-block;
}
