* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

header {
    max-width: 100px;
    height: 100px;
    background-color: aqua;
    display: flex;
    justify-content: center;
}

p{
    width: 200px;
    color: aquamarine;
}